*.bak
*.exe
*.log
*.tmp
*.obj
*.dll
*.so
*.pdb
*.tar.gz
tools/*
!tools/import_animations.py
!tools/create_blend.py
build*/
ghidra*/
out/
extracted_maps/
reference_source/
.vscode/
myth2_tags/
Doc/session_log.md
.settings.local.json
.claude/
!tools/import_animations.py
*.dng2
dir*.txt
refresh.ps1
refresh.bat
myth2/fill_mesh_tag.cpp
myth2/fill_mesh_tag.h
dist/
myth2ools_gui/
imgui.ini
myth2ools_gui/
